<html>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

	</head>
	
<body>

	<h1>Bullion Catalog <br/>
	<img src="http://i.imgur.com/8drGkD8.jpg" alt="Bullion Image not Available" style="width:1000; height:125;">
	</h1>
	<h2></h2>
		<div class="header" >
		{% if not login_session['user_id'] %}
    	<a href= '{{ url_for('showLogin') }}'> Sign In </a>
  		{% else %}
  		<a href="{{url_for('gdisconnect')}}">Sign Out</a>
 		 {% endif %}
	    </div>

		{% with messages = get_flashed_messages()%}

			{% if messages %}
			<p class = "flash">
			{% for message in messages %}
			{{message}} 
			{% endfor %}
			</p>
			{% endif %}
		{% endwith %}
	</br>
	<div class="pane">
		{% for category in categories %}

		<div>
			</br>
			<h2><a href = '{{url_for('showCategory', category_id = category.id) }}' > {{category.name}} </a></h2>
			<a href = '{{url_for('editCategory', category_id = category.id) }}' > Edit </a> |
			<a href = '{{url_for('deleteCategory', category_id = category.id) }}' > Delete </a>
			</br>
		</div>

		{% endfor %}

		</br></br>
		<a href = '{{url_for('newCategory')}}'>Create New Category</a>
		</br></br>

	</div>
</body>
</html>